# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local
db.sqlite3

# Variables de entorno
.env

# Archivos generados
media/
staticfiles/

# Entornos virtuales
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log




.pytest_cache/

.coverage

htmlcov/